body:not(.footer) {
	padding: 0;
}

.footer {
	grid-column: 1/-1;
	align-content: center;
	text-align: center;
	background-color: var(--primaria);
	height: 80px;

	p {
		color: var(--texto-invertido);
		font-weight: 600;
	}
}
