.footer {
	background-color: var(--primaria);
	grid-column: 1/-1;
	grid-row: 8/-1;
	height: 80px;
	display: grid;
	place-items: center;

	p {
		color: var(--texto-invertido);
		font-weight: 600;
	}
}
